@import "custom";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $secondary;
}

::-webkit-scrollbar-thumb {
  border: 2px solid $secondary;
  background-color: $dark;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary;
}

.navbar {
  transition: background 0.3s;
  height: $navbar-height;
}

section {
  min-height: calc(100vh - #{$navbar-height});
}

.banner {
  margin-top: -#{$navbar-height};
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: center;
}

.homepage-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/porto-wp.jpg");
}

.btn-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
